*{
    padding: 0;
    margin: 0;
}
body{
    top: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.outer{
    border: 2px solid none;
    height: 100vh;
    width: 100%;
    position: absolute;
    margin: 0;
}
.sidebar{
    border: 2px solid none;
    height: 98vh;
    background-color: #008080;
    width: 27%;
  flex: 0 0 300px;
    position: fixed;
    margin: 0;
    border-radius: 0 10% 0 7%;
}
.heading{
    border: 1px solid none;
    height: 20;
    width: 50%;
    color: white;
    margin-top: 15%;
    margin-left: 20%;
  
    position: relative;
}
.heading h3{ 
    margin-top: 12%;
    align-items: center;  
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    flex: 0 0 20px;
    display: inline-flex;
    color: white;
}
.heading a{
    text-decoration: none;
    color: white;
}
.links{
    border: 2px solid none;
    height: 70vh;
    width: 35vh;
    left: -30%;
    position: absolute;
    margin-top: 30%;
}
.icons{
    border: 2px solid none;
    height: 6vh;
    width: 90%;
    cursor: pointer;
    margin-left: 8%;
    display: block;
   margin-top: 0%;
}
/*.icons :active{
    background-color: cadetblue;
    color: whitesmoke;
    height: 6vh;
    width: 90%;
    cursor: pointer;
    margin-left: 8%;
}*/
.icons a{
    text-decoration: none;
}
.icons i{
    margin-left: 3%;
    color: whitesmoke;
    margin-top: 2%;
    font-size: 18px;
    position: absolute;
    
    }
    .icons span{
        margin-left: 30%;
        color: whitesmoke;
        margin-top: 2%;
        position: absolute;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
        }
.nav{
    border: 2px solid whitesmoke;
    height: 9vh;
    width: 72.3%;
 box-shadow: rgb(19, 31, 61);
    margin-left: 27%;
    border-radius: 12px;
}
.tag h3{
    margin-top: 2%;  
    margin-left: 5%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}
.dashboard{
    border: 2px solid cyan;
    height: 5%;
    width: 40%;
    margin-left: 28%;
    margin-top: 1.2%;
    position: absolute;
}
.dashboard i{
    color: black;
    margin-left: 27%;
    margin-top: 20%; 
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 30px;
}
.dashboard span{
    color: black;
     margin-left: 7%;
    font-size: 20px; 
    font-family: sans-serif;
    font-weight: 400; 
    margin-top: -7%;
}
.register{
    border: 2px solid whitesmoke;
    height: 55vh;
    width: 60%;
    margin-left: 32%;
    border-radius: 12px;
    margin-top: 7%;
    position: absolute;
}
.box{
    border:none;
    margin-top: 8%;
    width: 25%;
    height: 31%;
    border-radius: 7px;
    margin-left: 5%;
    display: inline-block;
    background-color: cadetblue;
}
.box i{
margin-left: 3%;
color: whitesmoke;
margin-top: 3%;
font-size: 25px;
position: absolute;

}
.box span{
    margin-left: 2%;
    color: whitesmoke;
    margin-top: 12%;
    position: absolute;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    }
.box strong{
   margin-left: 17%;
    color: whitesmoke;
    margin-top: 12%;
    font-size: 15px;
    display: bl;
    position: absolute;
  }
